.car-search-container {
    display: grid;
    grid-template-columns: 450px auto;
    background-color: white;
    margin: 8px 8px 0px 8px;
    height: 100%;
}

.filter-panel {
    background-color: white;
    margin: 24px 0px 0px 8px;
    border: 1px solid #EDEDED;
    height: 300px;
}

.car-info {
    background-color: white;
    margin: 24px 8px 0px 24px;
}

.filter-box {
    margin: 24px 24px 0px 24px;
    display: flex;
    flex-direction: column;
}

.filter-box > div, span, a {
    margin: 8px 0;
}
.car-listing {
    margin: 24px;
}

.car-header {
    display: grid;
    grid-template-columns: auto auto;
    /* height: 100px; */
}

.btn-style {
    background-color: #EA7F28;
    color: white;
    width: 128px;
    line-height: 32px;
    align-items: center;
    align-self: flex-end;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}

.btn-style:hover {
    background-color: #D37324;
}

.cars-count {
    font: bold 32px Roboto;
}

.sort-mileage, .car-availibility {
    display: flex;
    flex-direction: column;
}

.car-listing {
    margin: 12px 0px;
    border: 2px solid #EDEDED;
}

.car-spec {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.car-logo {
    height: 80px;
    width: 100px;
    margin: 12px;
}

.manufacture-name {
    font: bold 32px Roboto;
    margin: 0px 0px 8px 0px
}

a, .view-details {
    color: #EA7F28;
    text-decoration: none;
    margin: 8px 0px 8px 0px
}

.car-spec-list {
    margin: 0px 24px;
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 0px 8px 0px 8px;
}